@tailwind base;
@tailwind components;
@tailwind utilities;

.categories{
    overflow: overlay;
}
.categories::-webkit-scrollbar{
    width: 6px;
}
.categories::-webkit-scrollbar-thumb{
    background-color: rgb(159, 159, 159);
    border-radius: 20px;
}
.categories::-webkit-scrollbar-track{
    margin: 10px;
    border-radius: 20px;
    background-color: transparent;
}

.star-rating {
    color: #fcbf25; 
    font-size: 20px;
  }


  .button-red {
    color: #8e8a8a; /* red-500 */
  }
  
  .button-red:hover {
    color: #f90606; /* red-700 */
  }


  .blur-background {
    position: fixed;
   
    padding: 50;
    left: 50;
    width: 100%;
    height: 100%;
    background-image: url(''); /* Remplacez le chemin par celui de votre image */
    background-size: cover;
     /* Ajustez le flou selon vos préférences */
    z-index: -1; /* Assurez-vous que l'arrière-plan est derrière votre contenu */
  }
  